*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
select{
    font-family: inherit;
}
option{
    font-family: inherit;
}
@media screen and (min-width:1200px){
    header{
        height: 74px;
        width: 100%;
    }
    nav{
        height: 70px;
        width: 100%;
        position: fixed;
        box-shadow: 0px 4px 3px #d1d1d1; 
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .sidenav{
        display: none;
    }
    .sidemenu{
        display: none;
    }
    .logo{
        font-size: 24px;
        font-weight: 700;
        color: #ff94f9;
        font-style: italic;
        text-decoration: none;
    }
    .logo:hover{
        transition-duration: 300ms;
        color: #ff16f4;
    }
    .nav_link1{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
    }
    .nav_link1>a{
        color: black;
        text-decoration: none;
        font-weight: 600;
    }
    .nav_link1>a:hover{
        color: #ff16f4;
        text-decoration: underline 1px solid #ff16f4;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    .nav_link2{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .cart,.login,.join_now,.profile{
        text-decoration: none;
    }
    .cart{
        border: none;
        background: none;
        color: black;
        cursor: pointer;
        font-size: 18px;
    }
    .cart:hover{
        transition-duration: 150ms;
        color: #ff16f4;
    }
    .cartitems{
        height: 200px;
        border: 1px solid;
        position: fixed;
        z-index: 1;
        margin-top: 300px;
    }
    .cartitems>p{
        color: black;
    }
    .login{
        height: 35px;
        width: 8vw;
        border: 1.5px solid #f500ff;
        text-align: center;
        align-content: center;
        display: inline-block;
        background-color: white;
        color: #f500ff;
        border-radius: 18px 18px 18px 18px;
        font-weight: 600;
    }
    .login:hover{
        background-color: #f500ff;
        transition-duration: 150ms;
        color: black;
        font-weight: 600;
        box-shadow: 0px 0px 10px #f500ff;
    }
    .join_now{
        height: 35px;
        width: 8vw;
        border: 1.5px solid #ff16f4;
        border-radius: 18px 18px 18px 18px;
        text-align: center;
        align-content: center;
        color: black;
        font-weight: 600;
        background-color: #ff16f4;
        display: inline-block;
    }
    .join_now:hover{
        transition-duration: 150ms;
        box-shadow: 0px 0px 10px #f500ff;
    }
    .profile{
        background: none;
        border: none;
        font-size: 18px;
    }
    .profile:hover{
        transition-duration: 150ms;
        color: #ff16f4;
    }
    section{
        height: 1600px;
        width: 100%;
        border: 1px solid;
    }
    .main_div{
        height: 50vh;
        width: 100%;
        background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
        display: grid;
        place-content: center;
        gap: 20px;
    }
    .main_div>div{
        font-size: 50px;
        font-weight: 600;
        text-align: center;
    }
    .main_div>p{
        width: 60vw;
        color: #4f4f4f;
        text-align: center;
        font-size: 25px;
    }
    .products_heading{
        height: 70px;
        width: 100%;
        align-content: center;
    }
    .sort{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
    }
    .select_products{
        height: 40px;
        width: 10vw;
        text-align: center;
        background-color: transparent;
        border: 1px solid gray;
        border-radius: 6px 6px 6px 6px;
    }
    .sort_by_name{
        height: 40px;
        width: 10vw;
        text-align: center;
        background-color: transparent;
        border: 1px solid gray;
        border-radius: 6px 6px 6px 6px;
    }
    .products_div{
        height: 800px;
        width: 100%;
        border: 1px solid;
    }
}