*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
@media screen and (min-width:1200px){
    nav{
        height: 594px;
        width: 20vw;
        position: fixed;
        background-color: #ffe1fe;
    }
    .logo{
        height: 60px;
        color: #ff16f4;
        text-align: center;
        align-content: center;
        font-size: 25px;
        font-weight: 600;
        font-style: italic;
    }
    .dashboard_links{
        height: 300px;
        width: 100%;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .dashboard_links>a{
        height: 40px;
        width: 12vw;
        display: inline-block;
        align-content: center;
        text-decoration: none;
        color: black;
        font-size: 14px;
        text-indent: 14px;
        border-radius: 6px;
    }
    .dashboard_links>a:hover{
        background-color: #ff94f9;
        transition-duration: 0.5s;
    }
    main{
        height: 800px;
        width: 78.5vw;
        border: 1px solid;
        margin-left: 256px;
    }
    header{
        height: 60px;
        width: 100%;
        border: 1px solid;
        align-content: center;
    }
}