*{
    padding: 0;
    margin: 0;
}
/* Styles the body*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
/* Style all input`s placeholder */
input:placeholder-shown{
    font-family: inherit;
}
/* Viewport with minimum width of 1200px */
@media screen and (min-width:1200px){
    .container{
        height: 1100px;
        width: 100%;
        border: 1px solid;
        display: grid;
        place-content: center;
    }
    form{
        height: 900px;
        width: 40vw;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 0px 18px #6d6d6d;
        align-content: center;
    }
    .heading{
        height: 60px;
        width: 100%;
        text-align: center;
        align-content: center;
        font-size: 30px;
        color: #ff54f6;
    }
    .fullname, .email, .username, .password{
        height: 80px;
        width: 100%;
        display: grid;
        place-content: center;
    }
    .fullname>input, .email>input, .username>input, .password>input{
        height: 30px;
        width: 30vw;
        border: 1px solid gray;
        border-radius: 6px 6px 6px 6px;
        text-indent: 10px;
    }
    .fullname>input:focus, .email>input:focus, .username>input:focus, .password>input:focus{
        outline: 1.5px solid #ff54f6;
        border: none;
    }
    .submit{
        height: 80px;
        width: 100%;
        display: grid;
        place-content: center;
    }
    .submit>input{
        height: 50px;
        width: 30vw;
        border: 1px solid #d100d9;
        background-color: #d100d9;
        color: white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
    }
    .or{
        height: 60px;
        text-align: center;
        align-content: center;
    }
    .other_logins{
        height: 150px;
        width: 100%;
        display: grid;
        place-content: center;
        gap: 10px;
    }
    .google_login,.apple_login{
        height: 60px;
        width: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        font-weight: 600;
    }
    .google_login{
        color: black;
        border: 1.5px solid #d100d9;
    }
    .google_login:hover{
        background-color: #d100d9;
        color: white;
        transition-duration: 0.5s;
    }
    .google_login>i{
        margin-left: 10px;
        font-size: 15px;
        margin-top: 5px;
    }
    .apple_login{
        color: white;
        background-color: #ff54f6;
        border: 1.5px solid #ff54f6;
    }
    .apple_login:hover{
        transition-duration: 0.5s;
        background-color: #d100d9;
    }
    .apple_login>i{
        margin-left: 10px;
    }
    .login{
        height: 50px;
        text-align: center;
        align-content: center;
    }
    .login>a{
        text-decoration: none;
    }
}